@define-color text #eaeaef;
@define-color base #1a1b1e;
@define-color selected-text #87CEFA;
@define-color border #ffffff55;
@define-color foreground #eaeaef;
@define-color background #1a1b1e;
@define-color hover #2a2b2e;
@define-color accent #f0f0f0;

window .box-wrapper {
  background: alpha(@base, 0.2);
  padding: 12px;
  color: @text;
  border: 0px solid #79a1f7;
  border-radius: 8px;
  margin: 0;
}

window .search-container {
  background: transparent;
  border: 0px solid #79a1f7;
  color: #ffee99;
  border-radius: 8px;
}

window .placeholder {
  opacity: 0.4;
  color: @text;
}

window .input {
  color: @accent;
  padding: 0;
  font-weight: 300;
}

child {
  padding: 0 8px;
  background: transparent;
  border-radius: 0;
  border-left: 0px solid transparent;
  transition: all 160ms ease-in-out;
}

child:hover {
  background: linear-gradient(90deg, alpha(@accent, 0.08), transparent 80%);
  border-left: 2px solid alpha(@accent, 0.4);
}

child:selected {
  background: linear-gradient(90deg, alpha(@accent, 0.2), transparent 100%);
  background: transparent;
  border-radius: 8px;
  border-left: 0px solid @accent;
}
